.hero {
  position: relative;
  width: 100%;
  height: 60vh; 
  min-height: 500px; 
  max-height: 900px;
  overflow: hidden;
  text-align: center;
  background-image: url('/heroimage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .hero-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .hero-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    z-index: 1;

    h1 {
      font-size: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 2.5rem;
      margin-top: 0;
      padding: 0.4rem;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
  }
}

.herobtn {
  color: #fff;
  text-decoration: none;
  border: 2px solid;
  padding: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  font-weight: bold;
  transition: background-color 0.4s ease,
    color 0.3s ease,
    border-color 0.3s ease;

  &:focus {
    outline: 2px solid #f94a0b;
    outline-offset: 2px;
    border-radius: 0;
  }

  &:hover {
    color: #fff;
    background-color: #ff8a65;
    border-color: #ff8a65;
  }
}

.cardbtn {
  display: inline-block;
  color: #000;
  border: 2px solid #000;
  padding: 0.75rem 0.75rem;
  font-size: 0.9rem;
  font-weight: bold;
  text-decoration: none;
  width: auto;
  min-width: 100px;
  text-align: center;
  margin: 0 auto;
  transition: background-color 0.4s ease,
    color 0.3s ease,
    border-color 0.3s ease;

  &:focus {
    outline: 2px solid #f94a0b;
    outline-offset: 2px;
    border-radius: 0;
  }

  &:hover {
    color: #fff;
    background-color: #ff8a65;
    border-color: #ff8a65;
  }

}

.hero-wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  svg {
    display: block;
    width: 100%;
    max-height: 10vh;
    overflow: visible;
  }
}

.cathero {
  text-align: center;
  padding: 0.5rem;

  p {
    font-size: 1.2rem;
    color: #666;

  }
}

/* Category heading with lines */
.cat {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0;

  &::before,
  &::after {
    content: "";
    flex: 0 0 20%;
    height: 1.2px;
    background: linear-gradient(to right, #ccc, #ccc);
    margin: 0 1rem;
    background: linear-gradient(to right,
        #ddd,
        #999);
  }

  &::after {
    background: linear-gradient(to left,
        #ddd,
        #999);
  }
}

.hero-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.hero-dest {
  max-width: 900px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.hero-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  text-align: center;
  padding: 1rem;
  align-items: stretch;

}

.hero-card a {
  background-color: #fff;
  text-decoration: none;
  color: #000;

  &:focus {
    outline: 2px solid #f94a0b;
    outline-offset: 2px;
    border-radius: 0;
  }

  h3 {
    margin: 0.5rem 0 0.5rem 0;
    font-size: 1.1rem;

    &:hover {
      color: #f94a0b;
    }
  }
}

.btn {
  color: #000;
  text-decoration: none;
  border: 2px solid;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.4s ease,
    color 0.3s ease,
    border-color 0.3s ease;

  &:focus {
    outline: 2px solid #f94a0b;
    outline-offset: 2px;
    border-radius: 0;
  }

  &:hover {
    color: #fff;
    background-color: #ff8a65;
    border-color: #ff8a65;
  }
}

@media (min-width: 768px) {
  .hero-dest {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    align-items: stretch;
    max-width: 900px;
    margin: 0 auto;
  }

  .hero {
    height: 60vh;

    .hero-content {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      padding: 0 2rem;

      h1 {
        font-size: 3.5rem;
      }
    }

  }

  .hero-card a {
    background-color: #fff;
    text-decoration: none;
    color: #000;

    &:focus {
      outline: 2px solid #f94a0b;
      outline-offset: 2px;
      border-radius: 0;
    }

    h3 {
      margin: 0.5rem 0 0.5rem 0;
      font-size: 1.1rem;

      &:hover {
        color: #f94a0b;
      }
    }
  }

  .hero-wave {
    position: absolute;
    bottom: 0;
    width: 100%;

    svg {
      display: block;
      width: 100%;
      height: 150px;
      overflow: visible;
    }
  }
}

@media (min-width: 1024px) {
  .hero {
    .hero-content {
      h1 {
        font-size: 3rem;
      }

      p {
        font-size: 1.3rem;
      }
    }

    .hero-wave {
      position: absolute;
      bottom: 0;
      width: 100%;

      svg {
        height: 120px;
        max-height: 20vh;
      }
    }

    .cathero {
      text-align: center;
      margin: 0;
    }

  }
}

@media (min-width: 1280px) {
  .hero {
    height: 60vh;

    .hero-content {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      padding: 0 3rem;

      h1 {
        font-size: 3.5rem;
      }

      p {
        font-size: 1.5rem;
      }
    }

    .hero-wave {
      position: absolute;
      bottom: 0;
      width: 100%;

      svg {
        height: 110px;
        max-height: 20vh;
      }
    }
  }

}